<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
    <add key="companyUri" value="#{companyUri}#" />
    <add key="database" value="#{database}#" />
    <add key="userLogin" value="#{userLogin}#" />
    <add key="password" value="#{password}#" />
   </appSettings>
</configuration>